<!DOCTYPE html>
<html>
<head>
    <title>ForkForYou</title>
    <meta charset="utf-8" />
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        form {
            text-align: center;
        }
    </style>
</head>
<body>
    <form>
        <p>
            Введите email: <br />
            <input name="email" />
        </p>
        <button onclick="send()">Отправить</button>
    </form>
</body>
</html>